<a href="https://colab.research.google.com/github/studorache/MLC/blob/master/MLC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade kaggle
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print(f'User uploaded file "{fn}" with length {len(uploaded[fn])} bytes')
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 63 bytes

In [0]:
# Scikit-Learn â‰¥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import pandas as pd
import os

Download and load train data into panda df

In [7]:
#download data
!kaggle competitions download -c ml-challenge-week6

#unzip data
!unzip census-income.data.zip
!unzip census-income.test.zip

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
census-income.test.zip: Skipping, found more recently modified local copy (use --force to force download)
census-income.names: Skipping, found more recently modified local copy (use --force to force download)
census-income.data.zip: Skipping, found more recently modified local copy (use --force to force download)
sampleSubmission.csv: Skipping, found more recently modified local copy (use --force to force download)
Archive:  census-income.data.zip
replace census-income.data? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: census-income.data
Archive:  census-income.test.zip
replace census-income.test? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: census-income.test

In [0]:
#create panda dataframe from training data
import pandas as pd 

train_df = pd.read_csv('census-income.data', header=None,sep=',')
test_df = pd.read_csv('census-income.test', header=None,sep=',')

In [9]:
#get cols names
lines = open("census-income.names", "r").readlines()
i = 0
col_names = []
while i < len(lines):
    if i >= 81 and i<= 120:
      s = lines[i]
      col_names.append(s[s.find("(")+1:s.find(")")])
    i += 1
col_names.insert(col_names.index('detailed household summary in household')+1, 'instance weight') 
col_names

['age',
 'class of worker',
 'detailed industry recode',
 'detailed occupation recode',
 'education',
 'wage per hour',
 'enroll in edu inst last wk',
 'marital stat',
 'major industry code',
 'major occupation code',
 'race',
 'hispanic origin',
 'sex',
 'member of a labor union',
 'reason for unemployment',
 'full or part time employment stat',
 'capital gains',
 'capital losses',
 'dividends from stocks',
 'tax filer stat',
 'region of previous residence',
 'state of previous residence',
 'detailed household and family stat',
 'detailed household summary in household',
 'instance weight',
 'migration code-change in msa',
 'migration code-change in reg',
 'migration code-move within reg',
 'live in this house 1 year ago',
 'migration prev res in sunbelt',
 'num persons worked for employer',
 'family members under 18',
 'country of birth father',
 'country of birth mother',
 'country of birth self',
 'citizenship',
 'own business or self employed',
 "fill inc questionnaire for veteran's admin",
 'veterans benefits',
 'weeks worked in year',
 'year']

In [0]:
#Append cols list to test panda
test_df.columns = col_names

col_names.append('income class')
#Append cols list to train panda
train_df.columns = col_names

In [11]:
train_df.head()

   age                  class of worker  ...  year  income class
0   73                  Not in universe  ...    95      - 50000.
1   58   Self-employed-not incorporated  ...    94      - 50000.
2   18                  Not in universe  ...    95      - 50000.
3    9                  Not in universe  ...    94      - 50000.
4   10                  Not in universe  ...    94      - 50000.

[5 rows x 42 columns]

In [12]:
test_df.head()

   age                 class of worker  ...  weeks worked in year  year
0   38                         Private  ...                    12    95
1   44  Self-employed-not incorporated  ...                    26    95
2    2                 Not in universe  ...                     0    95
3   35                         Private  ...                    52    94
4   49                         Private  ...                    50    95

[5 rows x 41 columns]

In [0]:
categories_to_encode = ["class of worker", "education", "enroll in edu inst last wk", "marital stat", 
                       "major industry code", "major occupation code", "race", "hispanic origin", "sex", 
                       "member of a labor union", "reason for unemployment", "full or part time employment stat", 
                       "tax filer stat", "region of previous residence", "state of previous residence", 
                       "detailed household and family stat", "detailed household summary in household", 
                       "migration code-change in msa", "migration code-change in reg", 
                       "migration code-move within reg", "live in this house 1 year ago", 
                       "migration prev res in sunbelt", "family members under 18", "country of birth father", 
                       "country of birth mother", "country of birth self", "citizenship", 
                       "fill inc questionnaire for veteran's admin" ]

for cat in categories_to_encode:
  train_df[cat] = train_df[cat].astype('category')
  train_df[cat] = train_df[cat].cat.codes

train_df["income class"] = train_df["income class"].astype('category')
train_df["income class"] = train_df["income class"].cat.codes

for cat in categories_to_encode:
  test_df[cat] = test_df[cat].astype('category')
  test_df[cat] = test_df[cat].cat.codes

In [0]:

X_train = train_df.drop(['income class'], axis=1)
y_train =train_df['income class']

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

# Create the parameter grid
param_grid = {'max_depth': list(range(5,26)), 'max_features': ["auto", "sqrt", "log2", None]} 

# Create a random search object
model = RandomizedSearchCV(
    estimator = RandomForestClassifier(n_estimators=80, random_state=42),
    param_distributions = param_grid, n_iter = 5,
    scoring='roc_auc', n_jobs=4, cv = 3, refit=True, return_train_score = True)

In [0]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=5, min_samples_leaf=5)

In [0]:
# Fit to the training data
model.fit(X_train, y_train)

from sklearn.metrics import accuracy_score, confusion_matrix

In [0]:
X_test = test_df
X_pred = model.predict(X_test)

In [0]:
result = pd.DataFrame(X_pred)
#result.insert(0, 'index', result.index)
result.columns= ['income class']
result.to_csv('result.csv', index=True, index_label='index')

In [21]:
!kaggle competitions submit -c ml-challenge-week6 -f result.csv -m "First try."

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 769k/769k [00:01<00:00, 645kB/s]
Successfully submitted to ML Challenge